<div class="dialog-header m-3">
    <h5>{{'LINK_IS_PASSWORD_PROTECTED' | translate}}</h5>
</div>

<form class="mt-1" disableClose='true' [formGroup]="documentLinkForm">
    <div class="row col-md-12">
        <div class="col-md-auto">
            <span class="material-icons text-main" style="font-size: 100px;">
                https
            </span>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="exampleInputPassword1">{{'PASSWORD' | translate}}</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
                <div *ngIf="documentLinkForm.get('password').touched && documentLinkForm.get('password').errors">
                    <div class="text-danger" *ngIf="documentLinkForm.get('password').hasError['required']">
                        {{'PASSWORD_IS_REQUIRED' | translate}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" (click)="checkPassword()">{{'SUBMIT' |
                    translate}}</button>
            </div>
        </div>
    </div>
</form>